<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zoom Clone</title>
    <link rel="icon" href="../content/logo.png" />
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script type="text/javascript" src="script/home.js" defer></script>
  </head>
  <body>
    <h1>Zoom</h1>

    <button id="create-new-room">Create New Room</button>

    <h2>Or</h2>

    <form>
      <input type="text" id="join-room-input" placeholder="room-id" />
      <button id="join-room">Join Room</button>
    </form>
  </body>
</html>
